{% extends 'layout.html' %} 
{% block content %} 

  {% if not endpoint_set %}

    <div class="h1">Endpoint not set</div>
    
  {% else %}

    <div class="container-fluid">
      <div class="row gx-2">
        <div class="col">
          <!-- Scan Form-->
        </div>
        <div class="col">
            <div class="container-fluid p-2 border border-dark rounded">
              <div class="row pb-2">
                <div class="col">
                  <button class="btn btn-primary">Refresh Database</button>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="d-flex flex-column border border-dark rounded vh-100 overflow-auto p-2">
                    <!-- Scans -->
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

  {% endif %}
{% endblock %}
